.asideWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.asideWrapper h4{
    font-weight: bolder;
}

.profileimg img{
    /* background-image: url('../../images/20179009_img.jpg'); */
    height: 10%;
    width: 32%;
    border-radius: 104px;
    margin: 14px 0px;
}

.btn{
    background-color: #11e579;
    margin: 20px 0px;
    color: white;
}
.status{
    background-color: #dbfff3;
    border-radius: 58px;
    padding: 9px 10%;
} 

.personalInfo{
    margin: 24px 0px;
}



@media only screen and (max-width:1100px){
  
}