.navbarWrapper{
    width: 98%;
    border-radius: 7px;
    height: 48px;
    display: flex;
}
#menu{
    position: absolute;
    right: 21px;
    top: 16px;
    display: block;
    padding: 10px;
    border:none;
    border-radius: 27px;
    background-color: white;
}
/* #menu:hover{
   box-shadow: 10px 10px 10px 10px ;
} */
.lines {
    background-color: black;
    height: 2px;
    margin: 2px;

    width: 13px;
}
.navhide{
    width: 0px;
}
.navlist{
text-decoration: none;
color:black;
list-style: none;
width: 92%;
border-radius: 4px;
justify-content: flex-end;
align-items: center;
margin: 0px auto;
display: flex;
}

.navitems{
    padding: 10px 26px;
}
.navlist a{
    text-decoration: none;
    color: black;
}

/* @media only screen and (max-width:1000px){
    #menu{
        display: block;
    }
    .navlist{
        display: none;
    }
} */