@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');


.bg-w{
background-color: white;
}

.font{
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
}
/* 
.btn{
    border: none;
    width: 57%;
    height: 36px;
    border-radius: 10px;
} */

