
.projectcard{
    position: relative;
}
.projectcard a{
    color: black;
}
.projectcard a img{
    width: 100%;
    opacity: 0.4;
}
.projectcard h4{
    text-align: left;
    position: absolute;
    display: flex;
    top: 31%;

    font-weight: 900;
    font-size: 30px;
}